.about-us-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.about-us-image {
    flex: 1;
    margin-right: 50px;
}
.about-us-image img {
    width: 100%;
    height: auto;
}
.about-us-description {
    flex: 1;
    margin-left: 50px;
}
.about-us-description h2 {
    font-size: 28px;
    margin-bottom: 20px;
}
.about-us-description p {
    line-height: 1.6;
    margin-bottom: 20px;
}
.about-us-description p:first-of-type {
    font-size: 20px;
    font-weight: 500; /* Increase font size of the first paragraph */
}
.brand {
    color: #da1c5d;
    font-weight: bold;
  }