.commerce-container {
    padding: 20px;
    margin-left: 220px;
  }
  
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .product-container {
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .product {
    border: 1px solid;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .product-details {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  
  .product-name {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .product-price {
    color: #888;
    margin-bottom: 10px;
  }
  
  .add-to-cart-button {
    background-color: #FF4081;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .add-to-cart-button:hover {
    background-color: #EA1179;
  }
  
  .category-filter {
    display: flex;
    align-items: center;
    list-style: none;
    color: #626262;
    font-size: 15px;
    font-weight: 500;  
    margin-bottom: 20px;
  }
  .category-filter ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .category-filter li {
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .category-filter li.selected {
    color: #DC2060;
  }
  
  .cart-icon {
    position: fixed;
    top: 20px;
    right: 50px;
    background-color: #DC2060;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
  }
  
  .cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #FF4081;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .pagination ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
  }
  
  .pagination li.active {
    background-color: #FF4081;
    color: white;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-selector button {
    background-color: #FF4081;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  .quantity-selector button:hover {
    background-color: #EA1179;
  }
  
  .quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  